<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center" style="padding-bottom: 20px">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <!-- Show any error messages -->
            <% if (message != null) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <p style="padding-top: 20px">Login or Register with:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

            <p style="margin-top: 20px">or view users:</p>
            <div class="row">
                <a href="/users" class="btn btn-default"><span class="fa fa-user"></span> Users</a>
            </div>
        </div>
    </div>
</body>
</html>